.cph/
exefile/
main/other/test
**/.vscode/
main/other/school test
.vscode/
main/other/otherr
memo/C++语法(新)/.obsidian/**
memo/C++语法(新)/.obsidian
memo/C++语法(新)/attachments
main/school
main/other/哈尔滨工程大学程序设计竞赛 2023
main/unsolve
.zed
.clang-format
